# A folder to put testing data/videos/anything else I don't wan't to commit
/no_commit
# venv stuff
*.cfg
lib
Include
Scripts
#*.txt
.idea
*.mp4
*.mov
!*dataset.txt
# pychache
**/__pycache__
yolov5/runs
venv
audio_training.csv